main {
    
}

.about-page {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

/* .page-sections {
    padding: 70px;
} */

.top,
.middle,
.bottom {
    height: fit-content;
    padding: 120px;
}

/* TOP SECTION */
.top {
    display: flex;
    justify-content: space-between
}

.top img {
    height: 500px;
    box-shadow: 1.5rem 1.5rem;
}

.erin {
    align-self
}

h1 {
    margin: 0;
}

.top p {
    box-sizing: border-box;
    max-width: 640px;
}
/* TOP SECTION */

/* MIDDLE SECTION */
.middle {
    background-color: #887154;
    color: white;
    display: flex;
    justify-content: space-between;
}

.middle p {
    box-sizing: border-box;
    max-width: 750px;
    align-self: center;
    padding-bottom: 2rem;
}

.middle img {
    width: 366px;
    box-shadow: 1.2rem 1.2rem;
    color: #e7dfd4;
    
}

.middle-right {
    font-size: 16px;
    align-self: center;
}

.middle-right p {
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.licorice p {
    padding: 0;
    margin: 0;
}
/* MIDDLE SECTION */

/* BOTTOM SECTION */
.bottom {
    background-image: url(/Images/background.avif);
    display: flex;
    flex-direction: column;
}

.bottom h2 {
    font-weight: 400;
}

.bottom img {
    height: 60%;
    width: 90%;
}

.recipes {
    display: flex;
    justify-content: space-between;
}

.recipe {
    display: flex;
    flex-direction: column;
}

.big {
    margin-bottom: 0;
    padding-bottom: 0;
}

.small {
    font-size: 1rem;
}

.bottom button {
    width: max-content;
    padding: 1rem 2rem;
}
/* BOTTOM SECTION */
