.blog-posts-page {
    display: flex;
    flex-direction: column;
}

.hero {
    width: 100%;
    height: 10rem;
    object-position: 100% 43%;
}

.bg-brown {
    background-color: #887154;
    color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

h1 {
    margin-bottom: 0;
    font-size: 5rem;
}

.bg-brown p {
    text-align: center;
    box-sizing: border-box;
    max-width: 33rem;
}

/* MAIN */
.main-content {
    width: 72rem;
    align-self: center;
    margin: 3rem 0;
}

.all-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option {
    border: 0.15rem #553d1f solid;
    padding: 0.5rem;
    border-radius: 1.7rem;
    width: 8rem;
    text-align: center;
}

.more {
    font-size: 2rem;
    border: 0.15rem #553d1f solid;
    padding: 0.4rem;
    border-radius: 1.7rem;
    width: 2rem;
    text-align: center;
}

.posts-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.posts-container h2 {
    font-weight: 400;
}

.posts-container img {
    height: 70%;
    width: 100%;
}

.all-posts {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    display: flex;
    flex-direction: column;
    min-width: 21.8rem;
    max-width: 21.8rem;
    margin: 0;
}

.post img {
    min-width: 100%;
    height: 21.8rem;
}

.big {
    margin: 0.7rem 0 0 0;
}

.small {
    font-size: 1rem;
    margin: 0 0 1rem 0;
}

.posts-container button {
    width: max-content;
    padding: 1rem 2rem;
}

.view-more {
    align-self: center;
    padding: 3rem 0 2rem 0;
    display: flex;
    flex-direction: column;
}

.number {
    font-weight: 900;
}

.view-more button {
    align-self: center;
    background-color: #e7dfd4;
    color: #553d1f;
    padding: 1.2rem 2.5rem;
    font-size: 1rem;
}

.erin {
    border: 0.15rem #e7dfd4 solid;
    padding: 5rem;
    margin: 3rem 0;
    display: flex;
    justify-content: space-evenly;
}

.erin img {
    width: 20%;
    box-shadow: 0rem 0.5rem 0.5rem #5c5c5c;
    border-radius: 0.3rem;
}

.erin-text {
    margin-left: 6rem;
}

.erin-text p {
    box-sizing: border-box;
    max-width: 30rem;
}

.socials {
    text-align-last: end;
}

.socials i {
    color: #553d1f;
}
/* MAIN */

/* MEDIA QUERIES MOBILE & IPAD */

@media (max-width: 500px) {
    .post {
        max-width: 15rem;
        min-width: 15rem;
    }
}

@media only screen and (min-width: 0px) and (max-width: 1180px) {
    .erin img {
        align-self: center;
    }

    .option {
        margin-bottom: 5%;
    }

    .main-content {
        align-self: center;
    }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .main-content {
        padding: 0;
        width: 22rem;
    }

    .bg-brown p {
        padding: 0 5%;
    }

    .erin {
        padding: 5%;
        flex-direction: column;
        text-align: center;
    }

    .erin-text {
        margin-left: 5%;
    }

    .erin img {
        width: 50%;
        height: 100%;
    }

    .socials {
        text-align-last: center;
        padding-top: 7%;
    }

    .all-sort {
        padding: 0 0 1rem 0;
        justify-content: center;
    }
}

/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    .main-content {
        width: 47rem;
        align-self: center;
    }

    .erin img {
        width: 40%;
        height: 100%;
    }

    .erin-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .all-sort {
        padding: 0;
    }

    .all-posts {
        justify-content: inherit;
    }
}
