.recipe-title {
    background-color: #887154;
    height: 8rem;
    padding: 2rem 0 0 2rem;
    color: white;
}

.licorice {
    margin: 0;
    font-size: 3.5rem;
    padding: 1rem;
    font-weight: 500;
}

.recipe-title p {
    padding-left: 3rem;
    margin-top: 0.5rem;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
}

.sidebar {
    grid-column: 2;
    grid-row: 1;
}

.main-content {
    grid-column: 1;
    grid-row: 1;
}
/* GRID */

/* SIDEBAR */
.sidebar {
    background-color: white;
    color: #553d1f;
    float: right;
    padding: 3.5rem 4rem 3.5rem 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0.063rem 0 0 #553d1f inset, 0 0 0.063rem #553d1f inset;
}

.meet-erin img {
    width: 100%;
    height: 18.75rem;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
    border-radius: 0.3rem;
}

.sidebar p {
    box-sizing: border-box;
    width: 14.5rem;
}

.sidebar button a {
    color: white;
    text-decoration: none;
}

.socials i {
    color: white;
    padding: 2rem 0;
}

.instagram {
    padding: 3rem 0;
}

.insta-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6.25rem 6.25rem;
    gap: 1rem;
    padding-bottom: 0.8rem;
}

.insta-grid img {
    height: 100%;
    width: 100%;
}

.sticky {
    position: sticky;
    top: 0;
    font-size: 1.4rem;
}
/* SIDEBAR */

/* MAIN */
.main-content {
    padding: 4rem 10rem;
    display: flex;
    flex-direction: column;
}

.main-images {
    display: flex;
    gap: 1.5rem;
}

.wp-block-gallery {
    display: flex;
    justify-content: space-between;
    margin: 0;
    gap: 2rem;
}

.small-image img {
    width: 100%;
    height: 100%;
    height: 91.5%;
}

.box-flex {
    display: flex;
    height: 6rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 2rem;
    min-width: 50rem;
}

.detail-box {
    background-color: #553d1f;
    color: white;
    padding: 1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    height: 3.1rem;
    min-width: 5rem;
}

.detail-box p {
    margin: 0;
}

.wp-image-50 {
    height: 2rem;

    /* align-self: start; */
}

.small-image {
    margin: 0;
    width: 100%;
    height: 100%;
}

.bottom-image {
    margin: 0;
}

.bottom-image img {
    width: 100%;
    height: 100%;
}

.main-recipe {
    background-image: url(/Images/background.jpg);
    padding: 4rem 7rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
}

ul,
ol {
    margin: 0;
}

.main-recipe p {
    margin-bottom: 0.5rem;
}

.main-recipe h3 {
    font-size: 1.3rem;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-details {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.center p {
    text-align: center;
}

.center-text {
    box-sizing: border-box;
    width: 26rem;
    padding-bottom: 2rem;
}
/* MAIN */

/* POPUP */
.modal-container {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
}

.modal {
    max-height: 40%;
    max-width: 50%;
    align-self: center;
}

.modal img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

/* POPUP */

/* MEDIA QUERIES MOBILE & IPAD */

@media only screen and (min-width: 0px) and (max-width: 1180px) {
    .sidebar {
        display: none;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }

    .small-image {
        height: auto;
    }

    .wp-image-186 {
        height: 100%;
        width: 100%;
    }

    .modal-container {
        max-width: 80%;
    }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .main-content {
        padding: 5%;
    }

    .main-content .licorice {
        line-height: 3rem;
        text-align: center;
    }

    .title {
        padding-top: 2rem;
    }

    .box-flex {
        max-width: 43.75rem;
        flex-direction: column;
        height: auto;
        overflow: auto;
        gap: 0;
        min-width: auto;
    }

    .detail-box {
        padding: 1rem;
        border-radius: 0.3rem;
        font-size: 90%;
        height: 3.1rem;
        min-width: 5rem;
    }

    .wp-block-gallery {
        gap: 1rem;
    }

    .main-recipe {
        padding: 10% 10%;
    }

    .recipe-title {
        padding: 0;
        text-align: center;
        height: fit-content;
    }

    h1 {
        line-height: 3rem;
    }

    .recipe-title p {
        padding: 0 0 1rem 0;
        margin: 0;
    }

    .modal {
        max-height: 80%;
        max-width: 80%;
    }
}

/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    .main-content {
        padding: 10%;
    }
}
