.welcome {
    height: 37.5rem;
    position: relative;
    z-index: 0;
}

.home-img {
    width: 100%;
    filter: brightness(40%);
    height: 100%;
}

.welcome p {
    position: absolute;
    color: #e7dfd4;
    box-sizing: border-box;
    width: 42.5rem;
    left: 7.5rem;
    top: 3.1rem;
    text-align: center;
    line-height: 2.3rem;
}

figure {
    margin: 0;
}

/* GRID */

.frontpage-content {
    display: grid;
    grid-template-columns: 75% 25%;
}

.sidebar {
    grid-column: 2;
    grid-row: 1;
}

.home-page {
    grid-column: 1;
    grid-row: 1;
}

/* GRID */

.latest-posts {
    width: 56.25rem;
    padding: 4% 0%;
    margin: auto;
}

.headlines {
    display: flex;
    justify-content: space-between;
}

.posts {
    display: flex;
    gap: 2rem;
}
.posts-main-container {
    overflow: hidden;
    max-width: 56.25rem;
}
.post {
    min-width: 12.5rem;
    max-width: 12.5rem;
    display: flex;
    flex-direction: column;
}

.post img {
    min-width: 100%;
    height: 15.6rem;
}

.arrow-buttons {
    display: flex;
    justify-self: flex-end;
}

.prev,
.next {
    background-color: transparent;
    color: #553d1f;
}

.next {
    top: 30%;
    right: 15%;
}

.prev {
    top: 30%;
    left: -5%;
}

.big {
    margin: 0.7rem 0 0 0;
}

.small {
    font-size: 0.8rem;
    margin: 0 0 1rem 0;
}

.bottom button {
    width: max-content;
    padding: 1rem 2rem;
}

/* RECIPE WEEK */

.recipe-week {
    background-color: #e7dfd4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8% 10%;
    max-width: 100%;
    gap: 2rem;
}

.recipe-week h2 {
    margin: 0;
}

.recipe-week h3 {
    font-weight: 400;
}

.recipe-week p {
    box-sizing: border-box;
    max-width: 27rem;
}

.recipe-images {
    position: relative;
    padding-right: 6rem;
}

.one,
.two {
    border: 0.5rem solid white;
}

.one {
    transform: rotate(-8deg);
    height: 14rem;
}

.two {
    transform: rotate(15deg);
    position: absolute;
    top: 5rem;
    left: 10rem;
    height: 16rem;
}

/* MOST POPULAR */
.most-popular {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.popular-recipes {
    max-width: 100%;
    margin: 5rem 5%;
}

.erin-kitchen {
    position: relative;
    bottom: 0;
    height: 37.5rem;
    width: 100%;
}

.erin-kitchen img {
    width: fit-content;
    height: 100%;
    width: 100%;
}

/* MAIN */

/* SIDEBAR */
.sidebar {
    background-color: #887154;
    color: white;
    padding: 3.5rem 4rem 3.5rem 4rem;
    display: flex;
    flex-direction: column;
}

.left img {
    width: 100%;
    height: 18.75rem;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
    border-radius: 0.3rem;
}

.sidebar p {
    box-sizing: border-box;
    width: 14.5rem;
}

.sidebar button {
    background-color: white;
}

.sidebar button a {
    color: #553d1f;
    text-decoration: none;
}

.socials i {
    color: white;
    padding: 2rem 0;
}

.instagram {
    padding: 3rem 0;
}

.insta-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6.25rem 6.25rem;
    gap: 1rem;
    padding-bottom: 0.8rem;
}

.insta-grid img {
    height: 100%;
    width: 100%;
}

.sticky {
    position: sticky;
    top: 0;
}

@media (max-width: 1250px) {
    .latest-posts {
        max-width: 42.5rem;
        margin: auto;
    }

    .popular-recipes {
        margin: 7rem auto;
        max-width: 28.1rem;
    }

    .most-popular {
        flex-wrap: wrap;
        gap: 3rem;
    }
}

/* MEDIA QUERIES MOBILE & IPAD */

@media only screen and (min-width: 0px) and (max-width: 1180px) {
    .frontpage-content {
        display: flex;
        flex-direction: column;
    }

    .welcome {
        display: none;
    }

    .home-page {
        display: unset;
    }

    .sidebar {
        width: inherit;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .sticky {
        display: none;
    }

    .recipe-week {
        flex-direction: column;
    }

    button {
        margin: 0;
    }
}

/* @media screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }
} */

@media only screen and (min-width: 0px) and (max-width: 1000px) {
    .frontpage-content {
        grid-template-columns: 1fr;
    }

    .welcome p {
        left: 5rem;
        top: 2.5rem;
    }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .home-page {
        display: flex;
        flex-direction: column;
    }

    .headlines h2 {
        padding-left: 5%;
    }

    .posts {
        margin-left: 1rem;
    }

    .arrow-buttons {
        justify-content: space-between;
    }

    .recipe-week {
        padding: 5% 5%;
    }

    .recipe-images {
        width: 16.25rem;
        padding: 5% 5% 20% 5%;
        height: 15rem;
        overflow: hidden;
    }

    .one {
        height: 10rem;
    }

    .two {
        height: 12rem;
        left: 8rem;
    }

    .latest-posts {
        max-width: 14.4rem;
        padding: 10% 0;
    }

    .headlines {
        flex-direction: column;
    }

    .most-popular {
        justify-content: space-evenly;
    }

    .popular-recipes {
        margin: 10% auto;
    }

    .popular-recipes h2 {
        text-align: center;
    }

    .sidebar {
        padding: 5% 5%;
        flex-direction: column;
        align-items: center;
    }

    .sidebar img {
        height: 12.5rem;
        width: 9.4rem;
    }
}

/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    .recipe-week {
        padding: 8% 8%;
    }

    .recipe-week p {
        max-width: 90rem;
        padding: 0;
    }

    .recipe {
        width: 100%;
        height: 18.75rem;
    }

    .recipe img {
        height: 60%;
    }

    .recipe-images {
        margin: 12% 3%;
        padding: 0;
        width: 30rem;
    }

    .recipe {
        width: 100%;
        height: 100%;
    }

    .recipe-info {
        max-width: 35rem;
    }

    .recipe img {
        width: 100%;
        height: 18.75rem;
    }

    .sidebar {
        padding: 3.5rem 2rem 3.5rem 2rem;
        flex-direction: row;
    }

    .sidebar .licorice {
        margin: 0;
    }

    .sidebar p {
        font-size: 0.9rem;
        width: 20rem;
    }

    .sidebar img {
        height: 18.75rem;
        width: 12.5rem;
    }

    .button-socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .right {
        padding-left: 3rem;
    }

    .left {
        text-align: center;
    }
}
