.home-img {
    width: 100%;
    filter: brightness(40%);
    height: 100%;
}

.welcome {
    height: 600px;
    position: relative;
}

.welcome p {
    position: absolute;
    color: #e7dfd4;
    box-sizing: border-box;
    width: 680px;
    left: 120px;
    top: 50px;
    text-align: center;
    line-height: 2.3rem;
}

/* GRID */
.home-page {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto;
    max-width: 100%;
}

.welcome {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.sidebar {
    grid-column: 2;
    grid-row: 2;
}

.main-content {
    grid-column: 1;
    grid-row: 2;
}
/* GRID */

/* SIDEBAR */
.sidebar {
    background-color: #887154;
    color: white;
    float: right;
    padding: 3.5rem 4rem 3.5rem 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.meet-erin img {
    width: 14rem;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
    border-radius: 0.3rem;
}

.sidebar p {
    box-sizing: border-box;
    width: 14.5rem;
}

.sidebar button {
    background-color: white;
}

.sidebar button a {
    color: #553d1f;
    text-decoration: none;
}

.socials i {
    color: white;
    padding: 2rem 0;
}

.instagram {
    padding: 3rem 0;
}

.instagram img {
    height: 6.5rem;
    width: 6.5rem;
}

.insta-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8rem;
}

.sticky {
    position: sticky;
    top: 0;
}
/* SIDEBAR */

/* MAIN */
.recipe {
    position: relative;
}

.recipe-main-container {
    width: 100%;
    overflow: hidden;
}

.recipe-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.latest-container,
.popular-container,
.recipe-week {
    padding: 4rem;
}

.latest-container img,
.popular-container img {
    height: 60%;
    width: 100%;
}

/* .recipe-btn {
    position: absolute;
    bottom: 9.5rem;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    background-color: #E7DFD4;
    color: #553D1F;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.latest-recipes:hover .recipe-btn {
    opacity: 1;
}

.recipe-btn:hover {
    background-color: #553D1F;
    color: #E7DFD4; 
} */

.latest {
    padding: 0 2rem 3rem 2rem;
    position: relative;
}

.next-pre i {
    position: absolute;
    top: 10%;
}

.back {
    left: 0;
}

.next {
    right: 0;
}

.latest-text,
.recipe-container,
.popular-text {
    display: flex;
    justify-content: space-between;
}

.recipe-container {
    gap: 2rem;
    flex-shrink: 0;
}

.recipe {
    min-width: 200px;
}

.view {
    align-self: center;
    text-decoration: underline;
    text-underline-position: under;
}

.fa {
    padding-top: 7rem;
    font-size: 1.5rem;
    background-color: rgba(245, 222, 179, 0);
    color: #553d1f;
    cursor: pointer;
}

.small {
    font-size: 0.75rem;
}

.recipe-week {
    background-color: #e7dfd4;
    display: flex;
    justify-content: space-around;
    padding: 6rem 4rem;
}

.recipe-week h2 {
    margin: 0;
}

.recipe-week h3 {
    font-weight: 400;
}

.recipe-week p {
    box-sizing: border-box;
    max-width: 27rem;
}

.recipe-images {
    position: relative;
    padding-right: 9rem;
}

.one,
.two {
    border: 0.5rem solid white;
    height: 12rem;
}

.one {
    transform: rotate(-8deg);
}

.two {
    transform: rotate(15deg);
    position: absolute;
    top: 7rem;
    left: 7rem;
}

.erin-kitchen {
    position: relative;
    bottom: 0;
    height: 600px;
    width: 100%;
}

.erin-kitchen img {
    width: fit-content;
    height: 100%;
    width: 100%;
}
/* MAIN */
