html {
    width: 100%;
}

body {
    margin: 0;
    background-color: white;
    color: #553d1f;
    font-family: "Raleway", sans-serif, Arial, Helvetica;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    width: 100vw;
    margin: 0 auto;
}

main,
.inner-header,
.footer {
    max-width: 1440px;
    margin: 0 auto;
}

.licorice {
    font-family: "licorice", "Raleway", sans-serif;
    font-size: 2.5rem;
}

.indie-flower {
    font-family: "indie flower", "raleway", sans-serif;
}

button {
    padding: 0.6rem;
    margin-top: 0.6rem;
    color: white;
    background-color: #553d1f;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

img {
    object-fit: cover;
}

/* HEADER */
header {
    height: 6.9rem;
    background-color: #e7dfd4;
    display: flex;
    justify-content: center;
    font-weight: 400;
    filter: drop-shadow(0 0 0.35rem rgba(0, 0, 0, 0.5));
}

.inner-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 4.4rem;
    top: 0.9rem;
    position: relative;
}

.navigation {
    align-self: self-end;
    padding-bottom: 2.5rem;
}

.navigation a {
    padding: 1.9rem;
    text-decoration: none;
    color: #887154;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.navigation a::before {
    content: "";
    position: absolute;
    left: 1.4rem;
    bottom: 0.6rem;
    width: 60%;
    height: 0.2rem;
    background-color: #5c462a;
    border-radius: 0.3rem;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.navigation a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation a:hover {
    color: #8b5817;
}
/* HEADER */

/* FOOTER */
footer {
    background-color: #553d1f;
}

.footer {
    color: #fff7db;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    height: 4.4rem;
}

.footer a {
    padding: 0.6rem;
}

.fa-brands {
    color: #fff7db;
    font-size: 1.25rem;
}
/* FOOTER */

.results {
    display: flex;
}

.error-msg {
    font-size: x-large;
    font-weight: 900;
    border: 0.06rem solid rgb(85 61 31);
    padding: 1rem;
    color: rgb(85 61 31);
    background: rgb(232 223 212);
}

.loading-container {
    position: relative;
}

.loader {
    border: 8px solid #e7dfd4;
    border-top: 8px solid #553d1f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* MEDIA QUERIES MOBILE & IPAD */

@media only screen and (min-width: 0px) and (max-width: 1180px) {
    body {
        max-width: 767px;
    }

    .navigation a::before {
        display: none;
    }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    body {
        max-width: 767px;
        font-size: 90%;
    }

    .navigation {
        display: none;
        position: absolute;
        flex-direction: column;
        background: #e7dfd4;
        width: 100%;
        top: 3.7rem;
        left: 0;
        text-align: center;
    }

    header {
        height: 3.75rem;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
    }

    .hamburger-menu {
        padding-right: 1rem;
    }

    .logo {
        position: absolute;
        height: 2.5rem;
        top: 0.5rem;
        left: 1rem;
        align-self: start;
    }

    header .menu-hide {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        padding: 1.5rem 1.5rem;
    }

    .copyright p {
        text-align: center;
    }
}

/* MEDIA QUERIES IPAD */

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    body {
        max-width: 1180px;
    }
}

@media only screen and (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }
}
