html {
    width: 100%;
}

body {
    margin: 0;
    background-color: white;
    color: #553d1f;
    font-family: "Raleway", sans-serif, Arial, Helvetica;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.licorice {
    font-family: "licorice", "Raleway", sans-serif;
    font-size: 40px;
}

.indie-flower {
    font-family: "indie flower", "raleway", sans-serif;
}

button {
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: #553d1f;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

img {
    object-fit: cover;
}

/* HEADER */
header {
    height: 110px;
    background-color: #e7dfd4;
    display: flex;
    justify-content: center;
    font-weight: 400;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.inner-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 70px;
    top: 15px;
    position: relative;
}

.navigation {
    align-self: self-end;
    padding-bottom: 40px;
}

.navigation a {
    padding: 30px;
    text-decoration: none;
    color: #887154;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.navigation a::before {
    content: "";
    position: absolute;
    left: 23px;
    bottom: 10px;
    width: 60%;
    height: 3px;
    background-color: #5c462a;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.navigation a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation a:hover {
    color: #8b5817;
}
/* HEADER */

/* HAMBURGER MENU */
.hamburger-menu {
    height: 60px;
}

#burger-menu {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 15px 15px 5px 5px;
    overflow: visible;
    position: relative;
    z-index:2;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #fff;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 15px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 20px;
  }
  
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
  }
  
  #menu{
    z-index:1;
    min-width:100%;
    min-height:100%;
    position: fixed;
    top:0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding-top:20px;
    transition: all 0.3s ease-in-out;
    
  }
  
  #menu.overlay{
    visibility: visible;
    opacity: 1;
    
  }
  
  #menu li{
    list-style:none;
  }
  #menu a{
    color:#fff;
    display:block;
    font-size: 32px;
    margin-bottom:30px;
    text-decoration:none;
  }
  /* HAMBURGER MENU */

/* FOOTER */
.footer {
    background-color: #553d1f;
    color: #fff7db;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 70px;
}

.footer a {
    padding: 10px;
}

.fa-brands {
    color: #fff7db;
    font-size: 20px;
}
/* FOOTER */


/* MEDIA QUERIES MOBILE & IPAD */ 

@media only screen and (min-width: 0px) and (max-width: 1180px) {
    body {
        max-width: 767px;
    }
}

/* MEDIA QUERIES MOBILE */ 

@media only screen and (min-width: 0px) and (max-width: 767px) {
    body {
        max-width: 767px;
        font-size: 90%;
    }
    
    .navigation {
        display: none;
    }

    .hamburger-menu {
        z-index: 100;
    }

    header {
        height: 60px;
    }

    .logo {
        height: 40px;
        top: 10px;
        left: 5px;
    }

}

/* MEDIA QUERIES IPAD */ 

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    body {
        max-width: 1180px;
    }
}

@media only screen and (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }
}