html {
    width: 100%;
}

body {
    margin: 0;
    background-color: white;
    color: #553d1f;
    font-family: "Raleway", sans-serif, Arial, Helvetica;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.licorice {
    font-family: "licorice", "Raleway", sans-serif;
    font-size: 40px;
}

.indie-flower {
    font-family: "indie flower", "raleway", sans-serif;
}

button {
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: #553d1f;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

img {
    object-fit: cover;
}

/* HEADER */
header {
    height: 110px;
    background-color: #e7dfd4;
    display: flex;
    justify-content: center;
    font-weight: 400;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.inner-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 70px;
    top: 15px;
    position: relative;
}

.navigation {
    align-self: self-end;
    padding-bottom: 40px;
}

.navigation a {
    padding: 30px;
    text-decoration: none;
    color: #887154;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.navigation a::before {
    content: "";
    position: absolute;
    left: 23px;
    bottom: 10px;
    width: 60%;
    height: 3px;
    background-color: #5c462a;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.navigation a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation a:hover {
    color: #8b5817;
}
/* HEADER */

/* FOOTER */
.footer {
    background-color: #553d1f;
    color: #fff7db;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 70px;
}

.footer a {
    padding: 10px;
}

.fa-brands {
    color: #fff7db;
    font-size: 20px;
}
/* FOOTER */
